@font-face {
    font-family: 'Yugitoy';
    src: url('../fonts/YugitoyRegular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ofont';
    src: url('../fonts/ofont.ru_Ireland.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Главная страница */

body {
    padding: 0px !important;
    margin: 0px !important;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.back__img {
    height: 100vh;
    position: fixed;
    height: 100vh !important;
    z-index: -1;
    opacity: 0.1;
}

.greet__message {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    height: 100%;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    transition: opacity 0.3s ease;
    animation: fadeIn 0.3s ease;
}

.greet__message__img {
    background-image: url('https://png.klev.club/uploads/posts/2024-04/png-klev-club-zg7f-p-redan-png-6.png');
    background-size: 500px auto;
    background-position: center 125px;
    background-repeat: no-repeat;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.greet__message__header {
    font-family: 'Ofont';
    font-size: 45px !important;
    margin: 20px;
}

.greet__message div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    word-wrap: normal;
    text-align: center;
}

.card__catalog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.card {
    margin: 0 30px;
}

.card p{
    text-align: center;
    margin-top: -20px;
    color: rgba(0, 0, 0, 0.808);
}

.card img {
    height: 250px;
    width: 250px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.card img:hover {
    height: 270px;
    width: 270px;
    transition: all 0.3s ease;
}

/* Страница доставки */

.delivery {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 22px;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.delivery ol {
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.delivery div {
    word-wrap: normal;
    text-align: center;
    margin-bottom: 10px;
}

.big__logo {
    font-family: 'Yugitoy';
    font-size: 65px;
    font-weight: bold;
}

.map {
    width: 100%;
    height: 500px;
    border: 1px solid black;
    filter: grayscale(100%);
}

@media screen and (max-width: 550px) {
    .delivery {
        font-size: 20px;
    }
    .big__logo {
        font-size: 45px;
    }
}

/* Страница контактов */

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    font-size: 22px;
}

.contacts div a {
    font-size: 22px;
    color: black;
}

.contacts div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.feedback {
    margin-top: 0px !important;
}

.feedback p{
    font-family: 'Ofont';
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 10px;
}

.feedback form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback button {
    margin-top: 20px;
    font-size: 18px;
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 150px;
}

.form__group {
    margin-top: 10 !important;
}

.form__group label{
    margin-bottom: 8px;
}

.response__message {
    font-size: 18px;
    margin-bottom: 20px;
}

.vk__logo{
    width: 20px;
    height: 20px;
    filter: grayscale(100%);
}

.tg__logo{
    width: auto;
    height: 20px;
    filter: grayscale(100%);
    margin-right: -6px;
}

.info {
    display: block !important;
}

.non {
    margin-top: 0 !important;
}

@media screen and (max-width: 550px) {
    .feedback form {
        font-size: 20px;
    }
    .feedback p {
        font-size: 40px;
    }
}